In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [8]:
import pandas as pd

# ì—‘ì…€ ì½ê¸°
path = "market_stats.xlsx"
df = pd.read_excel(path)

df.columns = ["month", "region", "passenger", "van", "truck", "special"]

# 1) month NaN â†’ ìœ„ ê°’ìœ¼ë¡œ ì±„ìš°ê¸°
df["month"] = df["month"].ffill()

# ğŸš¨ 2) ìµœìƒë‹¨ì— ìˆëŠ” "ê³„" ë¬¸ìì—´ í–‰ ì œê±°
df = df[df["region"].notna()]          # regionì´ NaNì¸ í–‰ ì œê±°
df = df[df["passenger"] != "ê³„"]        # 'ê³„' ë¼ë²¨ ì œê±°
df = df[df["region"] != "ì‹œêµ°êµ¬"]       # í˜¹ì‹œ headerê°€ ì¤‘ë³µë˜ë©´ ì œê±°

# 3) ìˆ«ì ë°ì´í„° ì •ì œ
for col in ["passenger", "van", "truck", "special"]:
    df[col] = df[col].astype(str).str.replace(",", "").astype(int)

# 4) ì‹œêµ°êµ¬ == 'í•©ê³„' ë§Œ ì¶”ì¶œ
df_sum = df[df["region"] == "í•©ê³„"].copy()

# 5) ì •ê·œí™”
normalized = []
vehicle_map = {
    "passenger": "ìŠ¹ìš©",
    "van": "ìŠ¹í•©",
    "truck": "í™”ë¬¼",
    "special": "íŠ¹ìˆ˜"
}

for _, row in df_sum.iterrows():
    year_month = row["month"]
    
    for col, vtype in vehicle_map.items():
        normalized.append({
            "year_month": year_month,
            "vehicle_type": vtype,
            "registration_cnt": int(row[col])
        })

result_df = pd.DataFrame(normalized)
result_df

     year_month vehicle_type  registration_cnt
0       2023-01           ìŠ¹ìš©           2765782
1       2023-01           ìŠ¹í•©             95828
2       2023-01           í™”ë¬¼            321896
3       2023-01           íŠ¹ìˆ˜             10845
4       2023-01           ìŠ¹ìš©           1264858
...         ...          ...               ...
2307    2025-10           íŠ¹ìˆ˜              5653
2308    2025-10           ìŠ¹ìš©            777407
2309    2025-10           ìŠ¹í•©             27197
2310    2025-10           í™”ë¬¼            194438
2311    2025-10           íŠ¹ìˆ˜              6289

[2312 rows x 3 columns]

In [ ]:
import pandas as pd

# ì—‘ì…€ ì½ê¸°
path = "market_stats.xlsx"   # íŒŒì¼ëª…ì— ë§ê²Œ ë³€ê²½
df = pd.read_excel(path)

# ì»¬ëŸ¼ ì´ë¦„ ì •ë¦¬
df.columns = ["month", "region", "passenger", "van", "truck", "special"]

# 1) ì›”(month) NaN â†’ ìœ„ì˜ ê°’ìœ¼ë¡œ ì±„ì›€
df["month"] = df["month"].ffill()

# 2) ë°ì´í„°ê°€ ì•„ë‹Œ row ì œê±° (ë¶ˆí•„ìš”í•œ 'ê³„', NaN ë“±)
df = df[df["region"].notna()]          # region == NaN ì œê±°
df = df[df["passenger"] != "ê³„"]        # passenger ì—´ì˜ 'ê³„' ì œê±°
df = df[df["region"] != "ì‹œêµ°êµ¬"]       # header ì¤‘ë³µ ì œê±° ê°€ëŠ¥ì„± ëŒ€ë¹„

# 3) ìˆ«ì ë°ì´í„° ì •ì œ (ì‰¼í‘œ ì œê±° â†’ int)
for col in ["passenger", "van", "truck", "special"]:
    df[col] = df[col].astype(str).str.replace(",", "").astype(int)

# 4) ì‹œêµ°êµ¬ == 'í•©ê³„' ì¸ í–‰ë§Œ ì¶”ì¶œ
df_sum = df[df["region"] == "í•©ê³„"].copy()

# 5) ì •ê·œí™”
normalized = []
vehicle_map = {
    "passenger": "ìŠ¹ìš©",
    "van": "ìŠ¹í•©",
    "truck": "í™”ë¬¼",
    "special": "íŠ¹ìˆ˜"
}

for _, row in df_sum.iterrows():
    year_month = row["month"]

    for col, vtype in vehicle_map.items():
        normalized.append({
            "year_month": year_month,
            "vehicle_type": vtype,
            "registration_cnt": int(row[col])
        })

# 6) ê²°ê³¼ DataFrameìœ¼ë¡œ ë³€í™˜
result_df = pd.DataFrame(normalized)

# 7) CSVë¡œ ì €ì¥
output_path = "vehicle_registration_normalized.csv"
result_df.to_csv(output_path, index=False, encoding="utf-8-sig")

print(f"CSV ì €ì¥ ì™„ë£Œ â†’ {output_path}")

CSV ì €ì¥ ì™„ë£Œ â†’ vehicle_registration_normalized.csv

In [11]:
import pandas as pd

df = pd.read_csv("vehicle_registration_normalized.csv")

# year_month + vehicle_type ê¸°ì¤€ìœ¼ë¡œ registration_cnt í•©ê³„
df_grouped = (
    df.groupby(["year_month", "vehicle_type"], as_index=False)["registration_cnt"]
      .sum()
)

df_grouped

df_grouped.to_csv("vehicle_registration_monthly_sum.csv", index=False, encoding="utf-8-sig")